body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #lightblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #lightblue;
}

input {
    padding: 8px;
    margin: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:disabled {
    background-color: #lightblue;
    cursor: not-allowed;
}

#message {
    color: #900;
    font-weight: bold;
    margin-top: 10px;
}

#retryButton {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #bl;
    color: deeppink;
    border: none;
    border-radius: 5px;
}

#retryButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}